[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xp logoff sound
Comment=
Exec=canberra-gtk-play -f "/usr/share/sounds/Windows XP Default/stereo/desktop-logout.wav"
OnlyShowIn=XFCE;
RunHook=1
StartupNotify=false
Terminal=false
Hidden=false

