! special
URxvt.foreground: #DADAE8
URxvt.background: #1E1E29
URxvt.cursorColor: #B1E3AD

! black
URxvt.color0: #6E6C7E
URxvt.color8: #6E6C7E

! red
URxvt.color1: #E38C8F
URxvt.color9: #E38C8F

! green
URxvt.color2: #B1E3AD
URxvt.color10: #B1E3AD

! yellow
URxvt.color3: #EBDDAA
URxvt.color11: #EBDDAA

! blue
URxvt.color4: #A4B9EF
URxvt.color12: #A4B9EF

! magenta
URxvt.color5: #C6AAE8
URxvt.color13: #C6AAE8

! cyan
URxvt.color6: #E5B4E2
URxvt.color14: #E5B4E2

! white
URxvt.color7: #DADAE8
URxvt.color15: #DADAE8

! URxvt SETTINGS
URxvt.geometry: 120x30
URxvt.depth: 32
!URxvt.background: pallete0
!URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.internalBorder: 30
URxvt.clipboard.autocopy: true
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1
URxvt*fading:  30

URxvt.urlLauncher:                google-chrome-stable
URxvt.underlineURLs:              true
URxvt.urlButton:                  1

URxvt.keysym.Control-Shift-V: perl:pasta:paste
URxvt.perl-ext-common: selection-to-clipboard,pasta
URxvt.font: xft:CaskaydiaCove Nerd Font:pixelsize=13

!URxvt.perl-ext-common:  fullscreen
URxvt.keysym.F11:       perl:fullscreen:switch
