/************************
  * Whisker Menu -xfce4 *
***********************/

#whiskermenu-window {
	background-color: #3B77BC;
        color: #ffffff
}
#whiskermenu-button {
  background: @launcher_bg url("xp-start.png");
  margin: -1px -1px -1px -1px;
  padding-bottom: 0px;
  height: 30px;
}


#whiskermenu-button:hover {
  background: @launcher_bg url("xp-start-hover.png");
  margin: -1px -1px -1px -1px;
  padding-bottom: 0px;
  height: 30px;
  border: none;
}

#whiskermenu-button:checked {
  background: @launcher_bg url("xp-start-select.png");
  margin: -1px -1px -1px -1px;
  padding-bottom: 0px;
  height: 26px;
}
